<mat-accordion multi="false">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ncntr
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        chrctr
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>