{
  "presets": [
    [
      "@nx/react/babel",
      {
        "modules": false,
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
  "plugins": ["@emotion/babel-plugin"]
}
