@font-face {
    font-family: 'MrEavesRemake';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Mr Eaves Small Caps.woff2');
  }

@font-face {
    font-family: 'ScalySansRemake';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Scaly Sans.woff2');
}

@font-face {
    font-family: 'ScalySansRemake';
    font-weight: bold;
    font-style: normal;
    src: local('ScalySansRemake-bold'), url('./assets/Scaly Sans Bold.woff2');
}