/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@font-face {
    font-family: 'MrEavesRemake';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Mr Eaves Small Caps.woff2');
  }

@font-face {
    font-family: 'ScalySansRemake';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Scaly Sans.woff2');
}

@font-face {
    font-family: 'ScalySansRemake';
    font-weight: bold;
    font-style: normal;
    src: url('./assets/Scaly Sans Bold.woff2');
}

@include mat.core();

$pallet: (
    50 : #f3f0ea,
    100 : #e0dacb,
    200 : #ccc1a8,
    300 : #b8a885,
    400 : #a8956a,
    500 : #998250,
    600 : #917a49,
    700 : #866f40,
    800 : #7c6537,
    900 : #6b5227,
    A100 : #ffe1af,
    A200 : #ffcd7c,
    A400 : #ffba49,
    A700 : #ffb030,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$prime: mat.define-palette($pallet, 500);
$accent: mat.define-palette($pallet, A200, A100, A400);
$fonts: mat.define-typography-config(
  $font-family: 'ScalySansRemake, MrEavesRemake, Arial'
);

$lightTheme: mat.define-light-theme((
 color: (
   primary: $prime,
   accent: $accent,
 ),
  typography: $fonts,
));

@include mat.all-component-themes($lightTheme);
@include mat.all-component-typographies($fonts);

body {
    background-image: url('./assets/parchmentBackground.jpg');
}

.mat-drawer-container {
    background: none;
}

.mat-drawer {
    background-color: #F2E5B5;
    background-image: url('./assets/parchmentBackgroundGrayscale.jpg');
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.mat-drawer .mat-expansion-panel {
    background-color: #F2E5B5;
}

.mat-mdc-fab.mat-primary {
    --mdc-fab-container-color: none !important;
    background-image: linear-gradient(-45deg, #322814, #998250, #322814);
}

.mat-mdc-card-content {
    font-family: MrEavesRemake, Arial;
}

.landingPageTile > div > mat-card {
    width: 550px;
    height: 670px;
}

.shell-main-menu {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10000;
}