<mat-grid-list cols="3">
    <mat-grid-tile-header></mat-grid-tile-header>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>3ncount3r</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>A Game Master's tool for planning and running combat encounters.</p>
            </mat-card-content>
        </mat-card>  
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>charact3r</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>A tool for players to manage every aspect of their characters.</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>cl3anslat3</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>A tool for GMs to capture creatures, spells, items, anything really, that will be available through 3ncount3r and charact3r.</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile-footer></mat-grid-tile-footer>
</mat-grid-list>